.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 30%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.topic{
    color: brown;
}

.card{
    background-image: url("Photos/2.jpg") ;
    background-size: cover;
    display: flex;
    height: 700px;
    position: relative;

 }
 .row{
    background-color:rgb(175, 176, 177);
    margin-bottom: 5%;
    align-items: center;
    height: 70%;
 }
body {
    background: url("Photos/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: 100% 100%;
    -o-background-size: cover;
    height: 100vh;
}