.container{
    margin-top: 5%;
    color:black;
    
}

.topic{
    color: brown;
    text-align: center;
    margin-top: 10px;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: auto;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    padding: 7px;
}

.btn1:hover{
    background: white;
    border:1px solid;
    color: black;
}

body {
    background: url("Photos/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: 100% 100%;
    -o-background-size: cover;
    height: 100vh;
}
