.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    padding: 7px;
    margin:1%;
  
}

.btn1:hover{
    background: white;
    border:1px solid;
    color: black;
}

.login{
    margin-right: 60%;
}