body {
    background: url("Photos/2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: 100% 100%;
    -o-background-size: cover;
    height: 100vh;
}
.heading{
    text-align: center;
    font-size: 45px;
    border-bottom: 2px dotted #fff;
}
.container{
    background-color: #696868;
    color: #fff;
    margin-top: 2%;
}
.btn-info{
    width:50%;
    letter-spacing: 2px;
    background: transparent;
    transition: all 0.5s ease-in-out;
}
.btn-info:hover{
    transform: scale(1.05);
}
.icn{
    font-family: monospace;
    font-size: 17px;
}
hr{
    width:80%;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: monsterret;
    margin: 0%;
    padding: 0%;
}

.navbar-nav a:hover{
    color: red;
}

.name{
    display: inline-block;
    padding-left: 10%;
}
