.container{
    margin-top: 15%;
    color:black;
    font-weight: bold;
}

.topic{
    color: brown;
}



body {
    min-height:100vh;
    width:100%;
    background-image:url("Photos/1.jpeg");
    background-position:center ;
    background-size: 100% 100%;
    position: relative;
}


