.container{
    margin-top: 15%;
    color:black;
    font-weight: bold;
}

.topic{
    color: brown;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 30%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background: white;
    border:1px solid;
    color: black;
}

body {
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(103, 105, 116, 0.7),rgba(43, 55, 107, 0.7)),url("Photos/background.jpg");
    background-position:center ;
    background-size: cover;
    position: relative;
}


